<%- include('template/header') -%>

<br>
<h1 style="text-align:center; margin: 20px; padding-top: 20px;">Tentang Kami</h1>
<br>
<br>
<div style="margin:10px auto;">
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum labore dolorum velit aspernatur similique aut
    consequatur dolorem et laborum consequuntur dolor inventore deserunt, sapiente, ut sit optio mollitia vitae
    nesciunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, magnam! Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Rerum autem laborum id deleniti nesciunt dolorem deserunt quam consectetur alias hic
    culpa voluptatibus impedit enim quidem, minima odio amet. Sint repudiandae animi atque delectus deleniti facere
    repellat voluptatum at ducimus. Consequuntur porro sunt, nam sit rerum placeat rem cupiditate excepturi reiciendis
    hic magni doloribus expedita vero qui, ratione ab error iure id nesciunt numquam optio molestias. Ratione vero, rem
    iste rerum ipsum consequatur aperiam placeat. Cupiditate porro illum aliquid eaque nemo excepturi est itaque beatae
    fugiat dolore nobis, aliquam atque explicabo? Maxime provident eius ducimus quidem quibusdam eligendi dicta, commodi
    repellat. Voluptate accusantium veritatis molestiae quam sequi ipsa eos id esse explicabo doloremque consequatur
    obcaecati voluptates asperiores provident, velit perferendis eveniet? Sapiente recusandae expedita asperiores
    repellat possimus debitis sequi tempora iusto praesentium ullam commodi, nisi cumque. Soluta quia perspiciatis
    dolore perferendis? Hic, recusandae! Ad, vel praesentium? Nemo repudiandae dolor quae voluptatum inventore aperiam
    numquam nulla dicta vero ad eius, minus necessitatibus quas eveniet et, nihil ut doloremque magnam. Velit iusto a
    consectetur obcaecati non totam iure ducimus magnam quidem, quae suscipit veniam quia voluptates, odio accusantium.
    Assumenda asperiores accusantium repudiandae, blanditiis eos deserunt nisi labore temporibus magni, soluta
    cupiditate ea officiis!</h4>
</div>

<%- include('template/footer') -%>