<div class="d-flex flex-shrink" style="align-items:center">
  <img src="/images/pemandangan.jpg" alt="Italian Trulli" style="width: 250px; height: 150px; margin: 8px"></img>
  <div class="d-flex" style="flex-direction: column; padding-left: 20px;">
    <h3>Judul News Ini Adalah Saya Suka Makan Bakso Dan Pizaa Setiap Hari Jumat Jam 12:00</h3>
    <div class="d-flex" style="flex-direction: row;">
      <p style="padding-right: 10px;">Kategori</p>
      <p>Waktu Senin, 07:00 WIB</p>
    </div>
  </div>
</div>